#board-container{
  position:relative;
  z-index: 500;
  color:rgb(255, 255, 255);
  background-color: rgba(231, 231, 231, 0.772);
  backdrop-filter: blur(8px);
  padding:12px 4px;
  padding-top:4px;
  margin:0;
  height: fit-content;
  box-sizing: border-box;
  overflow-x: hidden;
}

#board-menu-container{
  display:flex;
  flex-direction:column;
  width:96%;
  margin: 10px auto;
  margin-top: 0;
  border-radius:8px;
  max-width:650px;
  box-sizing: border-box;
}

.board-items-category{
  background-color:rgb(255, 255, 255);
  color:black;
  border-radius: 8px;
  margin:7px auto;
  width:100%;
  border:0;
  box-sizing: border-box;
}

.board-items-category *{
  color:black;
  font-size:16px;
}

.board-items{
  padding:7px;
  display:block;
}

.board-item{
  padding:15px 0;
  font-size:20px;
  border-bottom-style: solid;
  border-color:rgba(0, 0, 0, 0.468);
  border-width: 1px;
}

.board-items-category-title{
  display:flex;
  justify-content:center;
  background-color:rgb(228, 228, 228);
  color:rgb(0, 0, 0);
  border-radius:8px 8px 0px 0px;
  height:45px;
  font-size:23px;
  align-items:center;
  cursor:pointer;
}

.board-items .board-item:last-child{
  border:none ;
}

.board-item-image{
  object-fit: cover;
  border-radius: 8px;
  max-height: 100px;
  max-width: 35vw;
}

.board-item-description{
  margin: 10px 0px;
  padding: 3px 5px;
  border-radius: 6px;
  font-size:16px;
  background-color: rgba(196, 196, 196, 0.179);
}

.board-item-price{
  color:rgba(0, 0, 0, 0.634);
  font-weight: 600;
  margin:10px 8px;
  border-radius: 8px;
  display: inline;
  white-space: nowrap;
  width:max-content;
}
.board-item-price h4{
  display: inline;
  color:rgba(0, 0, 0, 0.87);
  font-size: 15px;
}

.board-item-prices{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin:7px auto;
  min-width: 80%;
  max-width:100%;
  width: fit-content;
  white-space: wrap;
  justify-content:center;
}

.board-description-title{
  margin:7px;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.915);
}

.board-add-cart-button{
  border-radius: 8px;
  padding: 6px 9px;
  background-color: rgb(240, 150, 40);
  color:white;
  border:none;
  font-size: 17px;
}


#board-cart-button{
  border-radius: 100px;
  position:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom:25px;
  right:25px;
  padding:15px;
  background-color: rgb(240, 150, 40);
  color:white;
  z-index:50000;
  animation: cartIn;
  animation-duration: 0.5s;
  width: max-content;
}


#board-cart-button-img{
  height: 25px;
}

#board-cart-button-price{
  color:rgb(41, 41, 41);
  border-radius: 8px;
  padding:2px 4px;
  margin:0 3px;
}

#board-cart-button-number{
  background-color:rgba(54, 134, 47, 0.767);
  color:white;
  border-radius: 50%;
  width: 15px;
  height: 17px;
  padding:2px 4px;

}

#board-cart-button-info{
  display: none;
  flex-direction: row;
}


@keyframes cart-button-info {
  0% {
    width: 0;
  }

  25% {
    width: 0;
  }

  100% {
    width: max-content;
  }
}

@keyframes cartIn {
  0% {
    display:auto;
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}


@keyframes cartOut{
  0% {
    transform: translateY(0px);
    opacity: 100%;
  }

  100% {
    display:none;
    transform: translateY(25px);
    opacity: 0;
  }
}

@media screen and ( min-width: 700px ) {
  #board-container{
    display:flex;
    flex-direction:row;
  }
  #board-menu-container{
    width:60%;
    margin: 10px auto;
  }
  #board-cart-container{
    position:sticky;
    margin: 10px auto;
    width:40%;
    height:100vh;
    max-width: 450px;
  }

  .board-items-category-title{
    font-size:18px;
  }


  .board-item-description{
    font-size:14px;
    margin: 5px 0px;
    padding: 0px 5px;
  }

  .board-item-price h4{
    font-size: 14px;
  }

  .board-description-title{
    margin:7px;
    font-weight: 600;
    font-size: 15px;
  }

  .board-add-cart-button{
    border-radius: 8px;
    padding: 4px 9px;
    background-color: rgb(240, 150, 40);
    color:white;
    border:none;
    font-size: 14px;
  }
}

@media screen and ( min-width: 600px ) {

  .board-description-title{
    color:rgba(0, 0, 0, 0.915);
  }
  
  .board-item{
    padding:15px 0;
    display:flex;
    flex-direction: row-reverse;
  }

  .board-item-image-container{
    display:flex;
    align-items: center;
    width: 180px;
    justify-content: center;
  }

  .board-item-image{
    object-fit: cover;
    border-radius: 8px;
    max-height: 110px;
    max-width: 120px;
  }
  
  .board-item-description-and-price{
    display:flex;
    flex-direction: column;
    width: 100%;
    border-radius: 6px;
  }

  .board-item-description{
    font-size:14px;
    background-color: rgba(0, 0, 0, 0);
  }

  .board-item-price{
    margin:10px 8px;
    font-size: 14px;
  }

  .board-item-prices{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin:7px auto;
    min-width: 80%;
    max-width:100%;
    width: fit-content;
    white-space: wrap;
    justify-content:center;

  }

  .board-description-title{
    margin:7px;
    font-weight: 600;
  }

  #board-cart-button{
    bottom:25px;
    right:25px;
    padding:12px;
  }
  
  
  #board-cart-button-img{
    height: 20px;
  }
  
  #board-cart-button-price{
    padding:2px 4px;
    margin:0 3px;
    font-size: 14px;
  }
  
  #board-cart-button-number{
    background-color:rgba(54, 134, 47, 0.767);
    color:white;
    border-radius: 50%;
    width: 15px;
    height: 17px;
    padding:2px 3px;
    font-size: 13px;
    text-align: center;
  }

}


@media screen and ( min-width: 700px ) {
  
  #board-container{
    padding:15px 0;
    padding-top: 46px;
  }

}