input[type=text],input[type=number]{
  position:relative;
  color:rgb(8, 8, 8);
  height: 44px;
  border-radius: 6px;
  border: 0;
  outline: auto rgb(149, 149, 149);
  outline-width: 1px;
  padding-inline: 13px;
  font-size: 17px;
  transform: all 200ms;
  margin:10px auto;
  margin-bottom: 18px;
  box-sizing: border-box;
  max-height: 45px;
}

input[type=text]:focus{
  border: 1px solid rgb(17, 17, 17);
}

input[type=number]:focus{
  border: 1px solid rgb(17, 17, 17);
}

.required{
  background-color: rgba(240, 182, 182, 0.531);
}

.switch{
  display:flex;
  flex-direction:row;
  padding:0;
  width:85%;
  margin:10px auto;
  margin-bottom: 18px;
  max-width:500px;
  border:solid;
  border-color:rgb(70, 70, 70);
  border-radius:8px;
  height:32px;
  border-width: 1.3px;
  max-height: 45px;
}

.switch1{
  font-size:18px;
  height:100%;
  border:none;
  background-color: rgb(240, 150, 40);
  flex-grow:2;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.switch2{
  font-size:18px;
  height:100%;
  border:none;
  flex-grow:2;
  background-color: rgb(255, 255, 255);
  color:black;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

form::-webkit-scrollbar {
  position: absolute;
  width: 7px;
  background-color: rgba(223, 223, 223, 0.938);
  width: 4px;
  height: 3px;
}

form::-webkit-scrollbar-thumb {
  background:rgba(19, 19, 19, 0.904);
  border-radius: 5px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}