#nav-container{
  width: 100vw;
  color:rgb(5, 5, 5);
  position:fixed;
  z-index: 60000;
  top:0;
  left: 0;
  border:none;
}
  .nav-container-dark{
    background-color: #1b1b1b;
    color:rgb(5, 5, 5);
    border-bottom-style:solid;
    border-width: 1px;
    border-color: #0f0f0f7e;
    box-shadow: none;
  }

.nav-invert{
  background-color: rgba(255, 255, 255, 0.529);
  filter:invert();
  box-shadow: none;
}

#nav-menu{
  padding:9px;
  position:absolute;
  top:15px;
  right:15px;
  height: fit-content;
  width: fit-content;
  margin: 9px;
  background-color: rgba(255, 255, 255, 0.834);
  box-shadow: 3px 2px 5px rgba(33, 33, 33, 0.39);
  border-radius: 8px;
  border-style: solid;
  border-color: #1b1b1b2a;
  border-width: 0.5px;
}


.nav-menu-image{
  height:14px;
  width:16px;
  cursor:pointer;
  transform: translateY(0.5px);
  opacity: 70%;
}
  .nav-menu-image-dark{
    opacity:85%;
    filter:invert(100%)
  }


#nav-log{
  right:0;
}


.nav-logo{
  color:rgba(5, 5, 5, 0.815);
}
  .nav-logo-dark{
    color:rgba(255, 255, 255, 0.781);
    font-weight: 400;
  }


.nav-log-image{
  height:28px;
  width: 30px;
  position: absolute;
  top:8px;
  right:20px;
  padding:3px;
  cursor:pointer;
  opacity: 75%;
  background-color: rgb(188, 206, 26);
  border-radius: 50px;
  filter:invert(100%)
}
  .nav-log-image-dark{
    opacity:95%;
  }


.nav-side-menu{
  min-width: 67vw;
  position: absolute;
  top: 0px;
  left:0px;
  width: fit-content;
  padding:5px 0;
  background-color: rgba(0, 0, 0, 0.897);
  height: 100vh;
  z-index: 60000;
  animation-name: nav-animation;
  animation-duration: 0.2s;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}
  .nav-side-menu-dark{
    box-shadow: none;
    background-color: #1b1b1b;
  }

.nav-menu-option{
  height: 50px;
  width: 100%;
  font-size: 20px;
  margin: 20px auto;
  color:rgb(255, 255, 255);
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:Montserrat;
}
.nav-menu-option:hover{
  background-color: rgba(236, 236, 236, 0.815);
  color:rgba(0, 0, 0, 0.881);
}


#nav-menu-close{
  cursor:pointer;
  position: absolute;
  bottom: 0px;
  display: none;
}

.nav-menu-theme-icon{
  height: 16px;
  opacity: 70%;
  margin-right: 9px;
  transform: translateY(2px);
}
  .nav-menu-theme-icon-dark{
   filter: invert(100%);
  }

  #nav-logo-img{
    height:50px;
    opacity: 80%;
  }

  .nav-notification-bubble{
    filter:drop-shadow(2px 5px 3px rgba(19, 19, 19, 0.377));
    background-color:rgb(238, 143, 1);
    margin: 0px;
    padding: 7px 15px;
    font-size:17px;
    position: absolute;
    right:80px;
    top:25px;
    border-radius: 14px;
    width: fit-content;
    opacity:0;
    text-align:center;
    color:rgb(255, 255, 255);
    white-space: nowrap;
    backdrop-filter: blur(10px);
  }

  .nav-notification-bubble:after {
    content: "";
    position: absolute;
    transform:translateX(-3.5px);
    top: 5px;
    left: 100%;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-left: 12px solid rgb(238, 143, 1);
    z-index: -1;
    border-radius: 5px;
  }

  .nav-notification-animation{
    animation-name: notification;
    animation-duration: 10s;
  }

  #nav-buttons{
    display:none;
  }
  
  @keyframes notification {
    50% {
      padding: none;
      opacity: 0%;
    }
    58%{
      opacity: 98%;
    }
    94% {
      opacity: 98%;
    }
    100% {
      opacity: 0%;
    }
  }

@keyframes nav-animation{
  0%{
    transform: translateX(-170px);
  }
  100%{
    transform: translateX(0);
  }
}



@media screen and ( min-width: 700px ) {

  #nav-container{
    background-color: rgb(236, 236, 236);
    width: 100%;
    height:38px;
    color:rgb(5, 5, 5);
    position:absolute;
    top:230px;
    border:none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 4px 3px 5px rgba(0, 0, 0, 0.24);
  }

  .nav-side-menu{
    min-width: 300px;

  }
  #nav-menu{
    display:none;
  }
  #nav-buttons{
    display:flex;
    flex-direction: row;
    align-items: center;
    position:relative;
    height:100%;
    margin-left: 15px;
    padding: 5px;
    box-sizing: border-box;
  }

  .nav-button{
    height:100%;
    color:rgb(0, 0, 0);
    width: fit-content;
    border:none;
    font-size: 16px;
    margin:8px;
  }

  .nav-button-select{
    height:100%;
    color:rgb(255, 255, 255);
    background-color: rgba(222, 144, 0, 0.831);
    width: fit-content;
    border-radius: 8px;
    border:none;
    font-size: 16px;
  }
}